*{
  margin: 0
}
.app{
  background-color: #fafafa;
  height: 100vh;
  display: flex;
  
}
.app_header{
background-color: white;
padding: 20px;
object-fit: contain;
border-bottom: 1px;

}
.app_header_pic{
  width: 80px;
  height: 80px;
}