*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}
figure {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
ul,
ol,
dd,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
p {
  margin: 0;
}
cite {
  font-style: normal;
}
fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}
/* CSS Reset code provided by Elad Shechter */
.landingPage {
  height: 100vh;
  width: 100%;
  background-color: white;
  display: grid;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  grid-template-columns: repeat(2, 50%);
}
.rightSide .leftSide {
  height: 100%;
}
.leftSide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: peachpuff; */
 
 
}
.rightSide {
  /* background-color:lightblue; */
  justify-content: right;
  display: flex;
  justify-content: space-between;
  /* background-color: oldlace; */
}


.instagif {
  height: 550px;
  width: 400px;
  position: relative;
  z-index: 2;
  left: 100px;
  bottom: 50px;
 
}
.phonesContainer {
  /* position: relative; */
  /* color: oldlace; */
}
.signIn {
  background-color: rgb(253, 253, 230);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 400px;
  width: 400px;
  
}

.Imstagram{
  font-family: "Lobster Two", cursive;
  font-size: 46px;
  font-weight: bolder;
	height: 51px;
	width: 313px;
	color: #262626;
}
.footer{
  display: inline-block;
  color: midnightblue;
  padding: 0 10px 0 10px;
  font-size: 12px;
  text-decoration: none;
}
input{
  height: 25px;
  width: 300px;
}
button{
  background-color: lightskyblue;
  width: 200px;
  height: 30px;
  color: white;
  border-radius: 5px;
}
