*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}
figure {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
ul,
ol,
dd,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
p {
  margin: 0;
}
cite {
  font-style: normal;
}
fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}
/* CSS Reset code provided by Elad Shechter */
.Profile {
  height: 100%;
  width: 100%;
  font-family: "potra";
  padding: 2%;
  border: solid white 30px;
  background: white;

  background-repeat: repeat;
  background-size: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px 3fr;
  grid-template-areas:
    "profileHeaderPic"
    "userImageGrid userImageGrid";
}

.profileHeaderPic {
  grid-area: profileHeaderPic;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 60px;
  font-weight: bold;
  padding-right: 5%;
}

.profilePicContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 2%;
  border: 10px solid rgba(173, 255, 47, 0);
  border-radius: 5px;
}

.profilePic {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  border: none;
}

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.userImageGrid {
  margin: 40px;
  padding-left: 5%;
  padding-right: 5%;
  grid-area: userImageGrid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.userGridImageContainer {
  z-index: 1;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  font-weight: bold;
  border: 10px solid rgba(173, 255, 47, 0);
}

.userGridImage {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  border: none;
}
